.navbar {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-left: 1rem;
    align-items: center;
    justify-content: space-between;
}
  
.logo {
    width: 5rem;
    height: 5rem;
}

.button_ls{
    padding: 0 1rem;
}

