.navbar {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-left: 1rem;
    border-bottom: 1rem solid #F15400;
    align-items: center;
    justify-content: space-between;
}
  
.logo {
    margin: 0.5rem 1rem 0 1rem;
    width: 5rem;
    height: 5rem;
}

.button_ls{
    padding: 0 1rem;
}

